/* FUENTES */

body {
    font-family: 'Montserrat' !important;
}

/* VARIABLES DE COLORES */

:root {
    --orange-1: #F96559 !important;
    --yellow-1: #F9AF59 !important;
    --gray-1: #3D3D3D !important;
    --gray-2: #717171 !important;
    --gray-3: #FBF9FA !important;
    --gray-4: #EBEBEB !important;
    --gray-5: #EFEFEF !important;
    --gray-6: #FAFAFA !important;
    --green-1: #3DB39E !important;
    --green-2: #016D4D !important;
    --green-3: #01D1C3 !important;
    --blue-1: #50BECD !important;
}

/* COLORES DE BACKGROUND */
.bg-orange-1 {
    background-color: var(--orange-1);
}
.bg-yellow-1 {
    background-color: var(--yellow-1);
}
.bg-gray-1 {
    background-color: var(--gray-1);
}
.bg-gray-2 {
    background-color: var(--gray-2);
}
.bg-gray-3 {
    background-color: var(--gray-3);
}
.bg-gray-4 {
    background-color: var(--gray-4);
}
.bg-gray-5 {
    background-color: var(--gray-5);
}
.bg-gray-6 {
    background-color: var(--gray-6);
}
.bg-green-1 {
    background-color: var(--green-1);
}
.bg-green-2 {
    background-color: var(--green-1);
}
.bg-green-3 {
    background-color: var(--green-1);
}
.bg-blue-1 {
    background-color: var(--blue-1);
}
.bg-green-gradient::before {
    content: '';
    background: linear-gradient(135deg, var(--green-2) 0%, var(--green-3) 100%) !important;
    opacity: 0.8 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.bg-orange-gradient {
    background: linear-gradient(360deg, var(--yellow-1) -1.14%, var(--orange-1) 94.42%);
}

/* COLORES DE TEXTO */
.text-orange-1 {
    color: var(--orange-1);
}
.text-yellow-1 {
    color: var(--yellow-1);
}
.text-gray-1 {
    color: var(--gray-1);
}
.text-gray-2 {
    color: var(--gray-2);
}
.text-gray-3 {
    color: var(--gray-3);
}
.text-gray-4 {
    color: var(--gray-4);
}
.text-gray-5 {
    color: var(--gray-5);
}
.text-gray-6 {
    color: var(--gray-6);
}
.text-green-1 {
    color: var(--green-1);
}
.text-green-2 {
    color: var(--green-2);
}
.text-green-3 {
    color: var(--green-3);
}
.text-blue-1 {
    color: var(--blue-1);
}

/* ESTILOS GENERALES */
.fs-7 {
    font-size: 14px;
}
.fs-8 {
    font-size: 12px;
}

.line-orange {
    height: 4px;
    max-width: 80px;
    width: 100%;
    background-color: var(--orange-1);
    display: flex;
    justify-content: center;
}
.text-decoration-underline-custom:hover {
    text-decoration: underline 4px var(--orange-1) !important;
    text-underline-offset: 4px;
    transition: transform 300ms 300ms ease-in-out 0s;
    color: var(--gray-1) !important;
}
.text-decoration-underline-custom-2:hover {
    text-decoration: underline 4px var(--orange-1) !important;
    text-underline-offset: 4px;
    color: var(--gray-3) !important;
}
.rounded-custom-buttom {
    border-radius: 24px 24px 24px 8px;
}
.rounded-custom-buttom:hover {
    border-radius: 24px 24px 24px 24px;
    background-color: var(--blue-1);
    color: #fff;
    transition: 0.5s;
}
.container-cards {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 12px;
  }
  @media (min-width: 768px) {
    .container-cards {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 24px;
    }
  }
  @media (min-width: 1024px) {
    .container-cards {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
.bg-green-gradient::before {
    content: '';
    background: linear-gradient(135deg, var(--green-2) 0%, var(--green-3) 100%) !important;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.cards {
    max-width: 272px;
    max-height: 208px;
    background-color: #FFFFFF;
    cursor: pointer;
}
.cards:hover {
    background-color: var(--orange-1);
    transition: 0.8s;
    color: #FFFFFF !important;
}
.icon-cards {
    max-width: 64px;
    width: 100%;
    max-height: 64px;
    height: 100%;
}
.icon-cards-orange {
    width: 40px;
    height: 40px;
}
.shadow-custom {
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
}
.rounded-md {
    border-radius: 16px;
}
.rounded-lg {
    border-radius: 24px;
}
.tab {
    box-shadow: 0px 4px 4px var(--gray-6);
    border-radius: 8px;
    max-width: max-content;
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: #FFF;
    border-radius: 8px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: var(--yellow-1);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: var(--orange-1);
    color: #fff;
}

/* Style the tab content */
.tabcontent {
    display: none;
}

/* ESTILOS HOME */


/* ESTILOS OUR PROCCESS */

#page-ourProcess .cards-ourprocess {
    max-width: 272px;
    min-height: 336px;
    max-height: 336px;
    background-color: #FFFFFF;
    cursor: pointer;
}
#page-ourProcess .cards-ourprocess:hover {
    background-color: var(--orange-1);
    transition: 0.8s;
    color: #FFFFFF !important;
}

/* ESTILOS AGENCIES */

/* ESTILOS FAQS */

#page-faqs summary {list-style: none}
#page-faqs summary::-webkit-details-marker {display: none; }

#page-faqs details summary::before { 
    content: "\2b"; 
    font-family: "Font Awesome 6 Free";
    font-size: 24px;
    color: var(--orange-1); 
    transition: 1s;
    padding: 0 16px 12px 0;
}
#page-faqs details[open] summary::before { 
    content:"\f068"; 
}

/* ESTILOS PAGINA OUR PLANS */

.border-table-custom {
    border-right: solid 1px var(--gray-2);
}