/* FUENTES */

body {
    font-family: 'Montserrat' !important;
}

/* VARIABLES DE COLORES */

:root {
    --orange-1: #F96559 !important;
    --yellow-1: #F9AF59 !important;
    --gray-1: #3D3D3D !important;
    --gray-2: #717171 !important;
    --gray-3: #FBF9FA !important;
    --gray-4: #EBEBEB !important;
    --gray-5: #EFEFEF !important;
    --gray-6: #FAFAFA !important;
    --green-1: #3DB39E !important;
    --green-2: #016D4D !important;
    --green-3: #01D1C3 !important;
    --green-4: #153D32 !important;
    --blue-1: #50BECD !important;
}

/* COLORES DE BACKGROUND */
.bg-orange-1 {
    background-color: var(--orange-1);
}
.bg-yellow-1 {
    background-color: var(--yellow-1);
}
.bg-gray-1 {
    background-color: var(--gray-1);
}
.bg-gray-2 {
    background-color: var(--gray-2);
}
.bg-gray-3 {
    background-color: var(--gray-3);
}
.bg-gray-4 {
    background-color: var(--gray-4);
}
.bg-gray-5 {
    background-color: var(--gray-5);
}
.bg-gray-6 {
    background-color: var(--gray-6);
}
.bg-green-1 {
    background-color: var(--green-1);
}
.bg-green-2 {
    background-color: var(--green-1);
}
.bg-green-3 {
    background-color: var(--green-1);
}
.bg-green-4 {
    background-color: var(--green-4);
}
.bg-blue-1 {
    background-color: var(--blue-1);
}
.bg-green-gradient::before {
    content: '';
    background: linear-gradient(135deg, var(--green-2) 0%, var(--green-3) 100%) !important;
    opacity: 0.8 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.bg-orange-gradient {
    background: linear-gradient(360deg, var(--yellow-1) -1.14%, var(--orange-1) 94.42%);
}

/* COLORES DE TEXTO */
.text-orange-1 {
    color: var(--orange-1);
}
.text-yellow-1 {
    color: var(--yellow-1);
}
.text-gray-1 {
    color: var(--gray-1);
}
.text-gray-2 {
    color: var(--gray-2);
}
.text-gray-3 {
    color: var(--gray-3);
}
.text-gray-4 {
    color: var(--gray-4);
}
.text-gray-5 {
    color: var(--gray-5);
}
.text-gray-6 {
    color: var(--gray-6);
}
.text-green-1 {
    color: var(--green-1);
}
.text-green-2 {
    color: var(--green-2);
}
.text-green-3 {
    color: var(--green-3);
}
.text-blue-1 {
    color: var(--blue-1);
}

/* ESTILOS GENERALES */
.fs-7 {
    font-size: 14px;
}
.fs-8 {
    font-size: 12px;
    line-height: 15px;
}

.line-orange {
    height: 0.25rem;
    width: 5rem;
    background-color: var(--orange-1);
}

.text-decoration-underline-custom:hover {
    text-decoration: underline 4px var(--orange-1) !important;
    text-underline-offset: 4px;
    transition: transform 300ms 300ms ease-in-out 0s;
    color: var(--gray-1) !important;
}
.text-decoration-underline-custom-2:hover {
    text-decoration: underline 4px var(--orange-1) !important;
    text-underline-offset: 4px;
    color: var(--gray-3) !important;
}
.rounded-custom-buttom {
    border-radius: 24px 24px 24px 8px;
}
.rounded-custom-buttom:hover {
    border-radius: 24px 24px 24px 24px;
    background-color: var(--blue-1);
    color: #fff;
    transition: 0.5s;
}
.container-cards {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 12px;
  }
  @media (min-width: 768px) {
    .container-cards {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 24px;
    }
  }
  @media (min-width: 1024px) {
    .container-cards {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
.bg-green-gradient::before {
    content: '';
    background: linear-gradient(135deg, var(--green-2) 0%, var(--green-3) 100%) !important;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.cards {
    max-width: 272px;
    max-height: 208px;
    background-color: #FFFFFF;
    cursor: pointer;
}
.cards:hover {
    background-color: var(--orange-1);
    transition: 0.8s;
    color: #FFFFFF !important;
}
.icon-cards {
    max-width: 64px;
    width: 100%;
    max-height: 64px;
    height: 100%;
}
.icon-cards-orange {
    width: 40px;
    height: 40px;
}
.shadow-custom {
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
}
.rounded-md {
    border-radius: 16px;
}
.rounded-lg {
    border-radius: 24px;
}
.tab {
    box-shadow: 0px 4px 4px var(--gray-6);
    border-radius: 8px;
    max-width: max-content;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: #FFF;
    border-radius: 8px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: var(--yellow-1);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: var(--orange-1);
    color: #fff;
}

/* Style the tab content */
.tabcontent {
    display: none;
}
@-webkit-keyframes changeColorBg {  
    0% { background-color: var(--orange-1); }
    50% { background-color: var(--blue-1); }
    100% { background-color: var(--orange-1); }
}
  @-webkit-keyframes changeColorBorder {  
    0% { border: 8px solid  var(--yellow-1); }
    50% { border: 8px solid  var(--green-3); }
    100% { border: 8px solid  var(--yellow-1); }
}

.animation-bg-images {
    position: absolute;
    right: 25%;
    top: 10%;
    width: 270px;
    height: 270px;
    border-radius: 30px;
    transform: rotate(-30deg);
    -webkit-animation-name: changeColorBg;
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 3000ms; 
}
.animation-bg-images div {
    width: 270px;
    height: 270px;
    background-color: transparent;
    border: 8px solid #F9AF59;
    border-radius: 30px;
    transform: rotate(45deg);
    -webkit-animation-name: changeColorBorder;
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 3000ms; 
}

@media (max-width: 1024px) {
    .animation-bg-images {
        width: 220px;
        height: 220px;
    }
    .animation-bg-images div {
        width: 220px;
        height: 220px;
    }
}
  

/* ESTILOS HOME */

.rounded-cicle-iconorange {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}


/* ESTILOS OUR PROCCESS */

#page-ourProcess .cards-ourprocess {
    max-width: 272px;
    min-height: 336px;
    max-height: 336px;
    background-color: #FFFFFF;
    cursor: pointer;
}
#page-ourProcess .cards-ourprocess:hover {
    background-color: var(--orange-1);
    transition: 0.8s;
    color: #FFFFFF !important;
}

/* ESTILOS AGENCIES */

/* ESTILOS FAQS */

summary {list-style: none}
summary::-webkit-details-marker {display: none; }

details summary::before {
    content: "\2b";
    font-family: "Font Awesome 6 Free";
    font-size: 24px;
    color: var(--orange-1);
    transition: 1s;
    padding: 0 16px 12px 0;
}
details[open] summary::before {
    content:"\f068";
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
  }
  @keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
  }

/* ESTILOS PAGINA OUR PLANS */

@media (min-width: 768px){
    .border-table-custom {
        border-right: solid 1px var(--gray-2);
    }
}
.list-position{
    list-style-position: outside;
}
.width-cards-ourplans {
    max-width: 17.063rem;
    width: 100%;
}
.bg-green-3-card {
    background: rgba(1, 209, 195, 0.19);
}
.bg-green-2-gadiente-card{
    background: linear-gradient(135deg, #016D4D 0%, #01D1C3 100%);
}
.card-always-included-ourplans {
    max-width: 210px;
    width: 100%;
    height: 127px;
    border: 1px solid #EAEAEA;
    border-radius: 20px;
    padding-top: 38px;
    position: relative;
    margin: 36px 34.5px;
}
.card-always-included-ourplans div {
    border-radius: 100%;
    position: absolute;
    width: 61px;
    height: 61px;
    left: 13.81%;
    top: -30%;
    padding: 11px 10px 10px 11px;
}

.table-header {
    background: linear-gradient(279.5deg, #F9AF59 7.82%, #F96559 95.94%);
}
.border-table-header {
    border-radius: 10px 10px 0px 0px;
}

.position-menu {
    top: 72px;
}
@media (min-width: 768px){
    .position-menu {
        top: 98px;
    }
}
#navbar .navbar-toggler {
    border: none;    
}
#navbar .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

/* START A FREE TRIAL */

#page-startFreeTrial .animation-bg-images-big {
    position: absolute;
    right: 18%;
    top: 10%;
    width: 340px;
    height: 340px;
    border-radius: 30px;
    transform: rotate(-30deg);
    -webkit-animation-name: changeColorBg;
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 3000ms; 
}
#page-startFreeTrial  .animation-bg-images-big div {
    width: 340px;
    height: 340px;
    background-color: transparent;
    border: 8px solid #F9AF59;
    border-radius: 30px;
    transform: rotate(45deg);
    -webkit-animation-name: changeColorBorder;
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 3000ms; 
}
@media (max-width: 1024px) {
    #page-startFreeTrial .animation-bg-images-big {
        width: 240px;
        height: 240px;
    }
    #page-startFreeTrial .animation-bg-images-big div {
        width: 240px;
        height: 240px;
    }
}
/* .collapse:not(.show) {
    display: none;
}
@media (min-width: 768px) {
    .collapse:not(.show) {
        display: block;
    }
} */
