<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MerkUb</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../assets/fonts/stylesheet.css">
</head>
  <body>
    <main id="page-home">
        <!-- SECCION 1 -->
        <section>
            <div class="d-flex bg-green-gradient position-relative" style="background-image: url('/assets/images/bgimagegradient1.png'); background-repeat: no-repeat; background-size: cover;">
                <div class="w-100 py-5" style="z-index: 1;">            
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-7 d-flex flex-column justify-content-center px-4 px-md-3 px-lg-5">
                                <p class="fw-bold fs-2 px-lg-5 mx-md-2 lh-sm"> <span class="text-yellow-1">Get unlimited Hubspot tasks with us</span> <span class="text-white">, we spare your time to address key challenges of your business</span></p>
                                <p class="text-white fw-medium px-lg-5 mx-md-2">Let us do the hard work, so you can free up your time to do what you were hired to do!</p>
                                <div class="px-lg-5 d-flex justify-content-center justify-content-md-start">                        
                                    <button type="button" class="btn bg-yellow-1 fw-bold py-3 px-4 lh-1 rounded-custom-buttom mx-2">Checkout our plans</button>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-5 d-flex justify-content-center px-4 px-md-3 px-lg-5">                    
                                <img class="img-fluid w-auto h-auto" src="/assets/images/personhome1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SECCION 2 -->
        <section>
            <div class="container py-5">
                <div class="row py-4">
                    <div class="col-12 col-md-6 d-flex justify-content-center px-5">                    
                        <img class="img-fluid w-auto h-auto" src="/assets/images/personhome2.png" alt="">
                    </div>
                    <div class="col-12 col-md-6 d-flex flex-column justify-content-center align-items-center px-5">
                        <p class="fw-bold fs-2 text-gray-1">What we do?</p>
                        <p class="text-gray-2 fw-medium pe-lg-5">"We set up and take control of all your tasks in Hubspot for a fixed monthly fee. Think about your process and we will make it real on Hubspot. "</p>
                        <div class="py-2">                        
                            <button type="button" class="btn bg-yellow-1 fw-bold py-3 px-4 lh-1 rounded-custom-buttom">Start a free trial</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SECCION 3 -->
        <section>
            <div class="bg-gray-3">
                <div class="container d-flex justify-content-center">
                    <div class="container-cards py-5">
                        <div class="d-flex align-items-center py-4"> <h2 class="text-gray-1 fw-bold">Hubspot <br> services that <br>  we cover</h2></div>
                        <div class="cards-home p-4 text-gray-1">
                            <div class="d-flex justify-content-center align-items-center bg-gray-6 rounded-circle icon-cards-home p-2 mb-2">
                                <img class="" src="/assets/images/iconcardhome1.svg" alt="">
                            </div>
                            <p class="fw-bold mb-2">Onboarding</p>
                            <p class="fs-8 lh-sm pb-2 opacity-60">We set up your sales, marketing and services processes, so you don't have to worry about it.</p>
                        </div>
                        <div class="cards-home p-4 text-gray-1">
                            <div class="d-flex justify-content-center align-items-center bg-gray-6 rounded-circle icon-cards-home p-2 mb-2">
                                <img class="" src="/assets/images/iconcardhome1.svg" alt="">
                            </div>
                            <p class="fw-bold mb-2">Integrations</p>
                            <p class="fs-8 lh-sm pb-2 opacity-60">We integrate your website with external platforms, based on your specific needs</p>
                        </div>
                        <div class="cards-home p-4 text-gray-1">
                            <div class="d-flex justify-content-center align-items-center bg-gray-6 rounded-circle icon-cards-home p-2 mb-2">
                                <img class="" src="/assets/images/iconcardhome1.svg" alt="">
                            </div>
                            <p class="fw-bold mb-2">Unlimited tasks</p>
                            <p class="fs-8 lh-sm pb-2 opacity-60">You can create as many activities or tasks as you like, and they are ready between 1 and 4 days, depending on your package</p>
                        </div>  
                        <div class="cards-home p-4 text-gray-1">
                            <div class="d-flex justify-content-center align-items-center bg-gray-6 rounded-circle icon-cards-home p-2 mb-2">
                                <img class="" src="/assets/images/iconcardhome1.svg" alt="">
                            </div>
                            <p class="fw-bold mb-2">Custom development</p>
                            <p class="fs-8 lh-sm pb-2 opacity-60">We develop your unique website, based on what your customer wants and what you can offer</p>
                        </div>
                        <div class="cards-home p-4 text-gray-1">
                            <div class="d-flex justify-content-center align-items-center bg-gray-6 rounded-circle icon-cards-home p-2 mb-2">
                                <img class="" src="/assets/images/iconcardhome1.svg" alt="">
                            </div>
                            <p class="fw-bold mb-2">Wordpress development</p>
                            <p class="fs-8 lh-sm pb-2 opacity-60">We manage your system and your CMS in order to create the process that suits your company best</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- SECCION 4 -->
        <section>
            <div class="container px-lg-5 py-lg-5">
                <div class="row px-0 px-md-3 px-lg-5 py-3 py-lg-5">
                    <div class="col-12 col-lg-5">
                        <div class="pb-4">
                            <h2 class="text-gray-1 fw-bold">For agencies</h2>
                        </div>
                        <ul class="text-gray-2 fw-bold">
                            <li 
                                class="d-flex align-items-center justify-content-start pb-2"
                            >
                                <img class="pe-2" src="/assets/images/iconarrow.svg" alt="">
                                We offer white label services</>
                            </li>
                            <li 
                                class="d-flex align-items-center justify-content-start pb-2"
                            >
                                <img class="pe-2" src="/assets/images/iconarrow.svg" alt="">
                             We take care of the things you don't have time to do on your behalf
                            </li>
                            <li 
                                class="d-flex align-items-center justify-content-start pb-2"
                            >
                                <img class="pe-2" src="/assets/images/iconarrow.svg" alt="">
                                Focus on strategy and let us handle the back-end work
                            </li>
                            <li 
                                class="d-flex align-items-center justify-content-start pb-2"
                            >
                                <img class="pe-2" src="/assets/images/iconarrow.svg" alt="">
                                Increase your production capacity 
                            </li>
                            <li 
                                class="d-flex align-items-center justify-content-start pb-2"
                            >
                                <img class="pe-2" src="/assets/images/iconarrow.svg" alt="">
                                Save money on hiring and trainning costs 
                            </li>
                        </ul>
                        <div class="py-2">                        
                            <button type="button" class="btn bg-yellow-1 fw-bold py-3 px-4 lh-1 rounded-custom-buttom">Learn more</button>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7 py-4 d-flex justify-content-center align-items-center">
                        <img class="img-fluid" src="/assets/images/gaphichome.svg" alt="">
                    </div>
                </div>
            </div>
        </section>

        <!-- SECCION 5 -->
        <section>
            <div class="d-flex bg-green-gradient position-relative" style="background-image: url('/assets/images/bgimagegradient1.png'); background-repeat: no-repeat; background-size: cover;">
                <div class="w-100 py-5 px-3 px-lg-5" style="z-index: 1;">   
                    <div class="container py-4 px-lg-5">
                        <div class="d-flex justify-content-center pb-4"> <h2 class="text-white fw-bold"> What type of customers are a good fit for us?</h2></div>
                        <div class="row gap-3 px-lg-5">
                            <div class="col bg-white rounded d-flex flex-column justify-content-center align-items-center py-4 px-4">
                                <div class="d-flex justify-content-center align-items-center bg-orange-gradient icon-cards-home-orange rounded-circle">
                                    <img class="" src="/assets/images/iconcardhomewhite.svg" alt="">
                                </div>
                                <p class="text-gray-1 fw-bold text-center pt-2">If you need onboarding and setup on hubspot</p>
                            </div>
                            <div class="col bg-white rounded d-flex flex-column justify-content-center align-items-center py-4 px-4">
                                <div class="d-flex justify-content-center align-items-center bg-orange-gradient icon-cards-home-orange rounded-circle">
                                    <img class="" src="/assets/images/iconcardhomewhite.svg" alt="">
                                </div>
                                <p class="text-gray-1 fw-bold text-center pt-2">If you need onboarding and setup on hubspot</p>
                            </div>
                            <div class="col bg-white rounded d-flex flex-column justify-content-center align-items-center py-4 px-4">
                                <div class="d-flex justify-content-center align-items-center bg-orange-gradient icon-cards-home-orange rounded-circle">
                                    <img class="" src="/assets/images/iconcardhomewhite.svg" alt="">
                                </div>
                                <p class="text-gray-1 fw-bold text-center pt-2">If they are looking for a long-term relationship</p>
                            </div>
                            <div class="col bg-white rounded d-flex flex-column justify-content-center align-items-center py-4 px-4">
                                <div class="d-flex justify-content-center align-items-center bg-orange-gradient icon-cards-home-orange rounded-circle">
                                    <img class="" src="/assets/images/iconcardhomewhite.svg" alt="">
                                </div>
                                <p class="text-gray-1 fw-bold text-center pt-2">If you organize your tasks in advance, without overnight work</p>
                            </div>
                            <div class="col-12 bg-white rounded d-flex flex-column justify-content-center align-items-center py-4 px-4 my-2">
                                <div class="d-flex justify-content-around align-items-center w-100">
                                    <div class="row gap-3 w-100">
                                    <div class="col d-flex justify-content-center align-items-center"><img src="/assets/images/hubspotlogo.png" alt=""></div> 
                                    <div class="col d-flex justify-content-center align-items-center"><img src="/assets/images/hubspotlogo2.png" alt=""></div>
                                    <div class="col d-flex justify-content-center align-items-center"><img src="/assets/images/hubspotlogo3.png" alt=""></div>
                                    <div class="col d-flex justify-content-center align-items-center"><img src="/assets/images/hubspotlogo4.png" alt=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">                        
                                <button type="button" class="btn bg-yellow-1 fw-bold py-3 px-4 lh-1 rounded-custom-buttom">Check out our unlimited packages</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- SECCION 6 -->
        <section>
            <div class="container px-5 py-5">
                <div class="row px-5 py-4">
                    <div class="col-12 col-lg-5 d-flex flex-column justify-content-center">
                        <h2 class="text-gray-1 fw-bold">Book a capacity planning session</h2>
                        <p class="text-gray-2">We could provide sales, marketing, service onboarding, integrations and more</p>
                        <p class="text-gray-2">Let us make the hubspot tasks for you so you can focus on strategy and results</p>
                    </div>
                    <div class="col-12 col-lg-7">
                        <img class="img-fluid" src="/assets/images/calendar.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>

