<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MerkUb</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../assets/fonts/stylesheet.css">
</head>
  <body>
    <main id="page-ourProcess">
        <!-- SECCION 1 -->
        <section>
          <div class="container px-lg-5 py-lg-5">
            <div class="row px-0 px-md-3 px-lg-5 py-3 py-lg-4">
                <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
                    <div class="pb-4">
                        <h2 class="text-gray-1 fw-bold text-center text-lg-start">Why choose <br> Merkub?</h2>
                    </div>
                    <ul class="text-gray-2 fw-bold">
                      <li 
                          class="d-flex align-items-center justify-content-start pb-2"
                      >
                          <img class="pe-2" src="/assets/images/iconarrow.svg" alt="">
                          Account manager to receive your task.
                      </li>
                      <li 
                          class="d-flex align-items-center justify-content-start pb-2"
                      >
                          <img class="pe-2" src="/assets/images/iconarrow.svg" alt="">
                          Portal services 24/7.
                      </li>
                      <li 
                          class="d-flex align-items-center justify-content-start pb-2"
                      >
                          <img class="pe-2" src="/assets/images/iconarrow.svg" alt="">
                          Meetings to follow up on our process. 
                      </li>
                      <li 
                          class="d-flex align-items-center justify-content-start pb-2"
                      >
                          <img class="pe-2" src="/assets/images/iconarrow.svg" alt="">
                          Certificate team in Hubspot.
                      </li>
                      <li 
                          class="d-flex align-items-center justify-content-start pb-2"
                      >
                          <img class="pe-2" src="/assets/images/iconarrow.svg" alt="">
                          We manage other CMS like WordPress. 
                      </li>
                      <li 
                        class="d-flex align-items-center justify-content-start pb-2"
                      >
                          <img class="pe-2" src="/assets/images/iconarrow.svg" alt="">
                          Free trial for 7 days
                      </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-6 py-2 d-flex justify-content-center align-items-center">
                    <img class="img-fluid" src="/assets/images/personourprocess1.png" alt="">
                </div>
            </div>
          </div>
        </section>
        <!-- SECCION 2 -->
        <section>
          <div class="py-5 bg-gray-3">
            <div class="container py-lg-4">
              <div class="py-lg-2 d-flex flex-column justify-content-center align-items-center">
                <h2 class="text-gray-1 fw-bold pb-4 text-center">How Merkub packages work?</h2>
                <p class="text-gray-2 text-center">You can select one of the three packages we offer, then you can send unlimited <br> tasks to the support team.</p>
                <p class="text-gray-2 text-center">The ticket portal is available 24/7 to send your Hubspot activities, you can check the <br> status of your activities and process them.</p>
              </div>
            </div>
          </div>
        </section>
        <!-- SECCION 3 -->
        <section>
          <div class="d-flex bg-green-gradient position-relative" style="background-image: url('/assets/images/bgimagegradient1.png'); background-repeat: no-repeat; background-size: cover;">
              <div class="w-100 py-5 px-3 px-lg-5" style="z-index: 1;">
                <div class="container py-lg-4">
                  <h2 class="text-center fw-bold text-white py-lg-2"> You will have an account manager to develop every task in your mind. Is easier with Merkub </h2>
                </div>
              </div>
          </div>
      </section>
      <!-- SECCION 4 -->
      <section>
        <div class="container py-5 d-flex flex-column justify-content-center align-items-center">
          <div class="pt-lg-4">
            <h2 class="text-center text-gray-1 fw-bold py-2">How Onboarding works?</h2>
          </div>
          <div class="row gap-4 d-flex justify-content-center align-items-center ">
            <div class="col-12 col-lg-4 cards-ourprocess text-gray-1 p-4">
              <p class="fw-bold mb-2 pt-2">Week 1</p>
              <p class="opacity-60 mb-2">Recording the info: You'll have a kick-off with your Hubspot Onboarding specialist to check every requirement you need. After that, we are going to make the Onboarding plan with specific deadlines and the people in charge of every activity. </p>
            </div>
            <div class="col-12 col-lg-4 cards-ourprocess text-gray-1 p-4">
              <p class="fw-bold mb-2 pt-2">Week 2 - 4</p>
              <p class="opacity-60 mb-2">We are going to create the new process in Hubspot with the information collected in the first week. Later, we are going to make changes in the hub that you requested and test this new process to check its status and proper functioning. </p>
            </div>
            <div class="col-12 col-lg-4 cards-ourprocess text-gray-1 p-4">
              <p class="fw-bold mb-2 pt-2">Week 5</p>
              <p class="opacity-60 mb-2">Now you go live and use the processes that we made for you. Also, you can buy one of our tasks packages to send new tasks if you need to improve or require support in any of your processes. </p>
            </div>
          </div>
          <div class="py-4 w-50 d-flex justify-items-center align-items-center">
            <p class="text-start text-gray-2">* The onboarding process can take more o less time, this is just an estimate. It's important you understand that every sale, marketing, and service process is different in every company.</p>
          </div>
        </div>
      </section>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>

